@model IEnumerable<KaterinaPostStuff.Models.Order>
@{
    ViewData["Title"] = "Home Page";
}

<table class="table">
    <thead>
        <tr>
            <th>Dossier Code</th>
            <th>Bla</th>
            <th>Bored</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var row in Model)
        {
            <tr>
                <th>@row.DossierCode</th>
                <td>@row.ConfDelDate</td>
                <td><a asp-action="DoStuff" asp-route-id="@row.Id" class="btn btn-success"><i class="glyphicon-heart"></i> I love buttons</a></td>
            </tr>
        }
    </tbody>
</table>